* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 11px;
    text-align: center;
}



.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


.flex-container {
    background: yellow;
    display: flex;
    flex-direction: row;
    /*eixo principal*/
    justify-content: flex-start;
    /*eixo principal*/
    align-items: flex-start;
    /*eixo transversal*/
    /* flex-wrap: wrap;*/
    align-content: stretch;
    flex-flow: row nowrap;

    gap: 30px;
    height: 50vh;
}

.flex-item {
    background-color: pink;
    width: 50%;
    height: 100%;
}

.bt-cart {
    color: white;
    background-color: darkslategray;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    border: none;
    margin-top: 30px;
}

.txt-btn{

    margin-left: 15px;

}

.price-offer{
    color: darkslategray;
    font-size: x-large;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.normal-price{

}