@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
}

body{
    background-color: rgba(209, 200, 188, 0.841);
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


.flex-container {
    background: white;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    justify-items: center;
    gap: 30px;
    width: 500px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    top: 25%;
    left: 33%;
    
}

.bt-cart {

    color: white;
    background-color: darkslategray;
    border-radius: 8px;
    width: 200px;
    height: 40px;
    border: none;
    font-weight: bold;
}

.txt-btn {

    font-family: 'Montserrat';
    margin-left: 15px;

}

.btn-container{
    position: relative;
    top: 5%;
    left: -8%;
}

.price-offer {
    color: darkslategray;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Fraunces';
    margin-top: 10px;
    margin-left: 0;
}

.normal-price {
    color: black;
    text-decoration: line-through;
    margin-left: 20px;
    font-family: 'Montserrat';
}

.preco{
    margin: 0;
    text-align: left;
}

h1 {
    text-align: left;
    font-weight: lighter;
    font-family: 'Fraunces', serif;
    font-size: x-large;
}

h2 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.471);
    margin-top: 25px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}

article {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
}

.foto-produto {
    width: 500px;
    height: 350px;
    background-image: url("images/image-product-desktop.jpg");
    background-size: cover;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px 0 0 10px;    
}